<mat-toolbar class="custom-navbar">
  <div class="container-fluid">
    <div class="navbar">
      
     
      <div class="col-md-3">
        <a class="navbar-brand" routerLink="/">
          DeliveryMatch
        </a>
      </div>
      
     
      <div class="col-md-6">
        <nav class="nav">
        
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          
        
          <ng-container *ngIf="isLoggedIn">
            <!-- Admin Links -->
            <a class="nav-link" 
               *ngIf="userRole === 'ADMIN'" 
               routerLink="/admin-dashboard">Admin Dashboard</a>
            
          
            <ng-container *ngIf="userRole === 'DRIVER'">
              <a class="nav-link" routerLink="/driver-dashboard">Driver Dashboard</a>
              
              <a class="nav-link" routerLink="/ads/create" >Create Ad</a>
            </ng-container>
            
            
            <ng-container *ngIf="userRole === 'SENDER'">
              <a class="nav-link" routerLink="/sender-dashboard">Sender Dashboard</a>
              <a class="nav-link" routerLink="/ads"> Ads</a>
            </ng-container>
          </ng-container>
        </nav>
      </div>
      

      <div class="col-md-3 text-end">
        <ng-container *ngIf="!isLoggedIn; else userControls">
          <button (click)="goToLogin()" mat-stroked-button class="login-btn me-2">
            Login
          </button>
          <button (click)="goToRegister()" class="signup-btn">
            Signup
          </button>
        </ng-container>
        
        <ng-template #userControls>
          <span class="me-3">Welcome, {{currentUser?.name}}</span>
          <button (click)="logout()" mat-stroked-button class="logout-btn">
            Logout
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>